dist: xenial

sudo: required

language: generic

services:
- docker

addons:
  apt:
    packages:
      - docker-ce

before_install:
- docker info

jobs:
  include:
    - stage: build, test, deploy
      env:
      - PROCESS=8.3/slim
      script: tools/build_test_push.sh 8.3/slim
    - stage: build, test, deploy
      env:
      - PROCESS=8.3
      script: tools/build_test_push.sh 8.3
    - stage: build, test, deploy
      env:
      - PROCESS=8.2/slim
      script: tools/build_test_push.sh 8.2/slim
    - stage: build, test, deploy
      env:
      - PROCESS=8.2
      script: tools/build_test_push.sh 8.2
    - stage: build, test, deploy
      env:
      - PROCESS=8.1/slim
      script: tools/build_test_push.sh 8.1/slim
    - stage: build, test, deploy
      env:
      - PROCESS=8.1
      script: tools/build_test_push.sh 8.1
    - stage: build, test, deploy
      env:
      - PROCESS=8.0/slim
      script: tools/build_test_push.sh 8.0/slim
    - stage: build, test, deploy
      env:
      - PROCESS=8.0
      script: tools/build_test_push.sh 8.0
    - stage: build, test, deploy
      env:
      - PROCESS=7.7/slim
      script: tools/build_test_push.sh 7.7/slim
    - stage: build, test, deploy
      env:
      - PROCESS=7.7
      script: tools/build_test_push.sh 7.7
    - stage: build, test, deploy
      env:
      - PROCESS=7.6/slim
      script: tools/build_test_push.sh 7.6/slim
    - stage: build, test, deploy
      env:
      - PROCESS=7.6
      script: tools/build_test_push.sh 7.6
    - stage: build, test, deploy
      env:
      - PROCESS=7.5/slim
      script: tools/build_test_push.sh 7.5/slim
    - stage: build, test, deploy
      env:
      - PROCESS=7.5
      script: tools/build_test_push.sh 7.5
    - stage: build, test, deploy
      env:
      - PROCESS=6.6/slim
      script: tools/build_test_push.sh 6.6/slim
    - stage: build, test, deploy
      env:
      - PROCESS=6.6
      script: tools/build_test_push.sh 6.6
    - stage: build, test, deploy
      env:
      - PROCESS=5.5/slim
      script: tools/build_test_push.sh 5.5/slim
    - stage: build, test, deploy
      env:
      - PROCESS=5.5
      script: tools/build_test_push.sh 5.5
