dist: xenial

sudo: required

language: generic

services:
- docker

addons:
  apt:
    packages:
      - docker-ce

before_install:
- docker info

jobs:
  include:
    - stage: build, test, deploy
      env:
      - PROCESS=7.6/slim
      script: tools/build_test_push.sh 7.6/slim
    - stage: build, test, deploy
      env:
      - PROCESS=7.6/alpine
      script: tools/build_test_push.sh 7.6/alpine
    - stage: build, test, deploy
      env:
      - PROCESS=7.6
      script: tools/build_test_push.sh 7.6
    - stage: build, test, deploy
      env:
      - PROCESS=7.5/slim
      script: tools/build_test_push.sh 7.5/slim
    - stage: build, test, deploy
      env:
      - PROCESS=7.5/alpine
      script: tools/build_test_push.sh 7.5/alpine
    - stage: build, test, deploy
      env:
      - PROCESS=7.5
      script: tools/build_test_push.sh 7.5
    - stage: build, test, deploy
      env:
      - PROCESS=7.4/slim
      script: tools/build_test_push.sh 7.4/slim
    - stage: build, test, deploy
      env:
      - PROCESS=7.4/alpine
      script: tools/build_test_push.sh 7.4/alpine
    - stage: build, test, deploy
      env:
      - PROCESS=7.4
      script: tools/build_test_push.sh 7.4
    - stage: build, test, deploy
      env:
      - PROCESS=7.3/slim
      script: tools/build_test_push.sh 7.3/slim
    - stage: build, test, deploy
      env:
      - PROCESS=7.3/alpine
      script: tools/build_test_push.sh 7.3/alpine
    - stage: build, test, deploy
      env:
      - PROCESS=7.3
      script: tools/build_test_push.sh 7.3
    - stage: build, test, deploy
      env:
      - PROCESS=7.2/slim
      script: tools/build_test_push.sh 7.2/slim
    - stage: build, test, deploy
      env:
      - PROCESS=7.2/alpine
      script: tools/build_test_push.sh 7.2/alpine
    - stage: build, test, deploy
      env:
      - PROCESS=7.2
      script: tools/build_test_push.sh 7.2
    - stage: build, test, deploy
      env:
      - PROCESS=7.1/slim
      script: tools/build_test_push.sh 7.1/slim
    - stage: build, test, deploy
      env:
      - PROCESS=7.1/alpine
      script: tools/build_test_push.sh 7.1/alpine
    - stage: build, test, deploy
      env:
      - PROCESS=7.1
      script: tools/build_test_push.sh 7.1
    - stage: build, test, deploy
      env:
      - PROCESS=6.6/slim
      script: tools/build_test_push.sh 6.6/slim
    - stage: build, test, deploy
      env:
      - PROCESS=6.6/alpine
      script: tools/build_test_push.sh 6.6/alpine
    - stage: build, test, deploy
      env:
      - PROCESS=6.6
      script: tools/build_test_push.sh 6.6
    - stage: build, test, deploy
      env:
      - PROCESS=5.5/slim
      script: tools/build_test_push.sh 5.5/slim
    - stage: build, test, deploy
      env:
      - PROCESS=5.5/alpine
      script: tools/build_test_push.sh 5.5/alpine
    - stage: build, test, deploy
      env:
      - PROCESS=5.5
      script: tools/build_test_push.sh 5.5
